AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Cognito User Pool + App Client for signup, confirm signup, login, forgot password, reset password endpoints.
  Tags: Project=Learning will be applied to relevant resources.

Parameters:
  Env:
    Type: String
    Default: dev
    Description: Environment name (dev/staging/prod)
  UserPoolName:
    Type: String
    Default: fastapi-auth-pool
    Description: Cognito User Pool name
  EmailIdentityArn:
    Type: String
    Description: SES identity ARN (arn:aws:ses:<region>:<account-id>:identity/your-email)

Resources:

  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Ref UserPoolName
      AutoVerifiedAttributes:
        - email
      Policies:
        PasswordPolicy:
          MinimumLength: 8
          RequireUppercase: true
          RequireNumbers: true
          RequireSymbols: true
      EmailConfiguration:
        EmailSendingAccount: DEVELOPER
        SourceArn: !Ref EmailIdentityArn
      UsernameAttributes:
        - email
      Schema:
        - Name: email
          Required: true
      Tags:
        Project: Learning

  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: fastapi-app
      UserPoolId: !Ref CognitoUserPool
      GenerateSecret: false
      ExplicitAuthFlows:
        - ADMIN_NO_SRP_AUTH
      PreventUserExistenceErrors: ENABLED
      Tags:
        Project: Learning

  CognitoSesSendRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${UserPoolName}-CognitoSESSender-${Env}"
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - cognito-idp.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: CognitoSESSendPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - ses:SendEmail
                  - ses:SendRawEmail
                Resource: !Ref EmailIdentityArn
      Tags:
        - Key: Project
          Value: Learning

Outputs:
  UserPoolId:
    Description: "Cognito User Pool ID"
    Value: !Ref CognitoUserPool

  AppClientId:
    Description: "Cognito App Client ID"
    Value: !Ref CognitoUserPoolClient
