# ---- ENV FILES (SECRETS) ----
.env
*.env
devops/.env
devops/cognito.env


# ---- BUT KEEP EXAMPLE FILES ----
!devops/.env.example
!docker/Dockerfile
!docker/requirements.txt
!docker/docker-compose.yml