version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: fastapi_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fastapi_network

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: fastapi_api
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - ../devops/cognito.env
      - ../devops/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/fastapi_db

     
      

    networks:
      - fastapi_network

volumes:
  postgres_data:

networks:
  fastapi_network:
    driver: bridge
