fastapi==0.104.1
uvicorn==0.22.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic==2.4.2
pydantic-settings
pydantic[email]
passlib==1.7.4
python-jose[cryptography]==3.3.0
boto3==1.28.85
requests==2.31.0
cryptography==41.0.7
python-dotenv==1.0.0
