AWSTemplateFormatVersion: '2010-09-09'
Description: Cognito User Pool for FastAPI App (Email + Google + RBAC)

Parameters:
  ProjectName:
    Type: String
    Default: Learning

  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]

  DomainPrefix:
    Type: String

  CallbackURL:
    Type: String

  LogoutURL:
    Type: String

  GoogleClientId:
    Type: String
    Default: ""

  GoogleClientSecret:
    Type: String
    Default: ""

Conditions:
  UseGoogle: !Not [!Equals [!Ref GoogleClientId, ""]]

Resources:

  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub '${ProjectName}-${Environment}-user-pool'
      AutoVerifiedAttributes: [email]
      UsernameAttributes: [email]

      Policies:
        PasswordPolicy:
          MinimumLength: 8
          RequireUppercase: true
          RequireNumbers: true

  # ---------------- RBAC GROUPS ----------------
  AdminGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: admin
      UserPoolId: !Ref CognitoUserPool

  UserGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: user
      UserPoolId: !Ref CognitoUserPool

  # ---------------- DOMAIN ----------------
  CognitoDomain:
    Type: AWS::Cognito::UserPoolDomain
    Properties:
      Domain: !Ref DomainPrefix
      UserPoolId: !Ref CognitoUserPool

  # ---------------- GOOGLE LOGIN ----------------
  GoogleIdP:
    Type: AWS::Cognito::UserPoolIdentityProvider
    Condition: UseGoogle
    Properties:
      UserPoolId: !Ref CognitoUserPool
      ProviderName: Google
      ProviderType: Google
      ProviderDetails:
        client_id: !Ref GoogleClientId
        client_secret: !Ref GoogleClientSecret
        authorize_scopes: "email profile openid"
      AttributeMapping:
        email: email
        given_name: given_name
        family_name: family_name

  # ---------------- APP CLIENT ----------------
  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    DependsOn: CognitoDomain
    Properties:
      UserPoolId: !Ref CognitoUserPool
      ClientName: !Sub '${ProjectName}-${Environment}-client'
      GenerateSecret: false

      ExplicitAuthFlows:
        - ALLOW_REFRESH_TOKEN_AUTH
        - ALLOW_USER_SRP_AUTH

      SupportedIdentityProviders:
        !If [UseGoogle, [COGNITO, Google], [COGNITO]]

      CallbackURLs:
        - !Ref CallbackURL

      LogoutURLs:
        - !Ref LogoutURL

      AllowedOAuthFlowsUserPoolClient: true
      AllowedOAuthFlows: [code]
      AllowedOAuthScopes: [openid, email, profile]

Outputs:

  UserPoolId:
    Value: !Ref CognitoUserPool

  AppClientId:
    Value: !Ref CognitoUserPoolClient

  DomainURL:
    Value: !Sub "https://${DomainPrefix}.auth.${AWS::Region}.amazoncognito.com"
